<form action="/announcements" method="GET">
    <div class="tablecup">
        <h2>Редагувати оголошення</h2>
        <a class="btn btn-dark" href="/announcements/new">Додати оголошення</a>
    </div>
    <br>
    <div>
        <table class="table tablec table-striped">
            <thead>
                <tr>
                    <th scope="col">Назва</th>
                    <th scope="col">Текст</th>
                    <th scope="col">Дата</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <% announcements.forEach(announcement => { %>
                    <td><%= announcement.title %></td>
                    <td><%- announcement.text %></td>
                    <td><%= announcement.date.toISOString().split('T')[0] %></td>
                    <td><a class="float-right text-success" href="/announcements/<%= announcement.id %> "><i
                                class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                    <td> <a class="float-right text-danger" href="/announcements/<%= announcement.id %>/del"><i
                                class="fa fa-minus-square-o" aria-hidden="true"></i></a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</form>
