<div class="form-group" style="display: none;">
    <label for="id">ID</label>
    <input class="form-control" type="text" name="id" required value="<%= apartments.id %>">
</div>
    <div class="form-group">
        <label for="owner">Власник</label>
        <input class="form-control" type="text" name="owner" required value="<%= apartments.owner %>">
    </div>
    <div class="form-group">
        <label for="accountNumber">Номер рахунку</label>
        <input class="form-control" name="accountNumber" type="text" value="<%= apartments.accountNumber %>">
    </div>
    <div class="form-group">
        <label for="area">Площа</label>
        <input class="form-control" type="text" name="area" required value="<%= apartments.area %>">
    </div>
    <div class="form-group">
        <label for="adress">Адреса</label>
        <input class="form-control" type="text" name="adress" required value="<%= apartments.adress %>">
    </div>
    <div class="form-group">
        <label for="benefits">Пільги</label>
        <input class="form-control" type="text" name="benefits" value="<%= apartments.benefits %>">
    </div>
    <div class="form-group">
        <label for="phoneNumber">Номер телефону</label>
        <input class="form-control" type="text" name="phoneNumber" required value="<%= apartments.phoneNumber %>">
    </div>
    <div class="form-group">
        <label for="services">Послуги</label>
        <input class="form-control" type="text" name="services"  value="<%= apartments.services %>">
    </div>
    
    