<form action="/apartment" method="GET">
    <div class="tablecup">
        <h2>Квартири</h2>
        <a class="btn btn-dark" href="/apartments/new">Добавити квартиру</a>
    </div>
    <br>
    <div>
        <table class="table tablec">
            <thead >
                <tr>
                    <th scope="col">Власник</th>
                    <th scope="col">Номер рахунку</th>
                    <th scope="col">Площа</th>
                    <th scope="col">Адреса</th>
                    <th scope="col">Пільги</th>
                    <th scope="col">Номер телефону</th>
                    <th scope="col">Послуги</th>
                    <th scope="col">Зареєстровані</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
        <% apartments.forEach(apa => { %>
            <tbody>
                <td><%= apa.owner %></td>
                <td><p><%- apa.accountNumber %></p></td>
                <td><%= apa.area %></td>
                <td><%= apa.adress %></td>
                
                <td><% apa.benefits.forEach(benef => {%>
                    <%= benef %> <br>
                <%}) %></td>
                <td><%= apa.phoneNumber %></td>
                
                <td><% apa.services.forEach(serv => {%>
                        <%= serv %> <br>
                    <%}) %></td>
                
                <td><% apa.residents.forEach(res => {%>
                    <%= res.name %> <br>
                <%}) %></td>
                <td><a class="float-right text-dark" href="/apartments/<%= apa.id %> "><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                <td><a  class="text-dark float-right" href="/apartments/<%= apa.id %>/del"><i class="fa fa-minus-square-o" aria-hidden="true"></i>
                </a></td>
                </div>
        <% }) %> 
            </tbody>
        </table>
    </div>
    
</form>
<br>


