<form action="/apartments" method="GET">
    <div class="tablecup">
        <h2>Квартири</h2>
        <a class="btn btn-dark" href="/apartments/new">Добавити квартиру</a>
        <div class="float-right">
            <input class="searchbar" type="text" name="owner" placeholder="Власник" value="<%= searchOptions.owner %>">
            <button class="btn" type="submit"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                    <path fill-rule="evenodd"
                        d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                </svg></button>
        </div>
    </div>
    <br>
    <div>
        <table class="table tablec table-striped">
            <thead>
                <tr>
                    <th scope="col">Власник</th>
                    <th scope="col">Номер рахунку</th>
                    <th scope="col">Площа</th>
                    <th scope="col">Адреса</th>
                    <th scope="col">Пільги</th>
                    <th scope="col">Номер телефону</th>
                    <th scope="col">Послуги</th>
                    <th scope="col">Зареєстровані</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <% apartments.forEach(apa => { %>
                    <td><%= apa.owner %></td>
                    <td>
                        <p><%- apa.accountNumber %></p>
                    </td>
                    <td><%= apa.area %></td>
                    <td><%= apa.adress %></td>

                    <td><% apa.benefits.forEach(benef => {%>
                        <%= benef %> <br>
                        <%}) %></td>
                    <td><%= apa.phoneNumber %></td>

                    <td><% apa.services.forEach(serv => {%>
                        <%= serv %> <br>
                        <%}) %></td>

                    <td><% apa.residents.forEach(res => {%>
                        <%= res %> <br>
                        <%}) %></td>
                    <td><a class="float-right text-dark" href="/apartments/<%= apa.id %> "><i class="fa fa-pencil-square-o"
                                aria-hidden="true"></i></a></td>
                    <td><a class="text-dark float-right" href="/apartments/<%= apa.id %>/del"><i
                                class="fa fa-minus-square-o" aria-hidden="true"></i>
                        </a></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</form>