<form >
    <br>
    <div>
        
    </div>
</form>

<form action="">
  <div class="d-flex justify-content-center">
    <div class="card mb-3 " style="max-width: 560px;">
        <div class="row no-gutters">
          <div class="col-md-4 justify-content-center">
            <% user.imgPath.forEach(img => { %>
                <img class="avatarImg" width="200px" height="auto" src="../<%= img %> " alt="">
            <% }) %> 
          </div>
          <div class="col-md-8">
            <div class="card-body">
            <h5 class="card-title">Name: <%= user.name %></h5>
            <div>Email: <%= user.email %> </div>
            <div>Phone Number: <%= user.number %> </div>
            <div>Owner: <%= user.owner %> </div>
            <div>Receplents: <%= user.receplents %> </div>
            <div>Bill: <%= user.bill %> </div>
            <div>Area: <%= user.area %> </div>
            <div>Adress: <%= user.adress %> </div>
            <div>Benefits: <%= user.benefits %> </div>
            <div>Role: <%= user.role %> </div>
            <div>Password: <%= user.password %> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</form>