
<div class="form-group" style="display: none;">
    <label for="id">ID</label>
    <input class="form-control" type="text" name="id" required value="<%= residents.id %>">
</div>
    <div class="form-group">
        <label for="pib">ПІБ</label>
        <input class="form-control" type="text" name="pib" required value="<%= residents.pib %>">
    </div>
    <div class="form-group">
        <label for="birthday">Дата народження</label>
        <input class="form-control" type="date" name="birthday" required value="<%= residents.birthday.toISOString().split('T')[0]%>">
        
    </div>
    <div class="form-group">
        <label for="idc">Ідентифікаційний код</label>
        <input class="form-control" type="number" name="idc" required value="<%= residents.idc %>">
    </div>
    <div class="form-group">
        <label for="birthPlace">Місце народження</label>
        <input class="form-control" type="text" name="birthPlace" required value="<%= residents.birthPlace %>">
    </div>

    <div class="form-group">
        <label for="phoneNumber">Телефон</label>
        <input class="form-control" type="text" name="phoneNumber" required value="<%= residents.phoneNumber %>">
    </div>
    <div class="form-group">
        <label for="role">Role</label>
        <select class="form-control" name="role">
            <option value="Админ">Админ</option>
            <option value="Житель">Житель</option>
            <option value="Бухалтер">Бухалтер</option>
        </select>
    </div>
        <div class="form-group">
            <label for="files">Паспорт</label>
            <input type="file" name="files" multiple>
        </div>
    </div>
