<form action="/residents" method="GET">
    <div class="tablecup">
        <h2>Мешканці</h2> <a class="btn btn-dark" href="/residents/new">Добавити нового мешканця</a>
        <div class="float-right">
            <input class="searchbar" type="text" name="pib" placeholder="ПІБ" value="<%= searchOptions.pib %>">
            <button class="btn" type="submit"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
              </svg></button>
        </div>
    </div>
    <br>
    <div>
        <table class="table tablec table-striped">
            <thead class="thead">
                <tr>
                <th scope="col">ПІБ</th>
                <th scope="col">Дата народження</th>
                <th scope="col">Ідентифікаційний код</th>
                <th scope="col">Місце народження</th>
                <th scope="col">Паспорт</th>
                <th scope="col">Телефон</th>
                <th></th>
                <th></th>
                </tr>
            </thead>
            <tbody>
            <% residents.forEach(resident => { %>
                <tr>
                    <td><%= resident.pib %></td>
                    <td><%= resident.birthday.toISOString().split('T')[0]%></td>
                    <td><%= resident.idc %></td>
                    <td><%= resident.birthPlace %></td>
                    <td><a class='text-dark' href="<%- resident.imgPath %>"><span class="iconify" data-icon="mdi:passport" data-height="48" data-inline="false"></span></a></td>
                    <td><%= resident.phoneNumber %></td>
                    <td><a  class="text-dark float-right" href="/residents/<%= resident.id %>/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                    <td><a  class="text-dark float-right" href="/residents/<%= resident.id %>/del"><i class="fa fa-minus-square-o" aria-hidden="true"></i></a></td>
                </tr>
                <% }) %> 
            </tbody>
        </table>
    </div>
</form>


