<form action="/residents" method="GET">
    <div>
        <h2>Residents</h2>
        <a class="btn btn-dark" href="/residents/new">Add new User</a>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">ПІБ</th>
                <th scope="col">Дата народження</th>
                <th scope="col">Ідентифікаційний кож</th>
                <th scope="col">Місце народження</th>
                <th scope="col">Паспорт</th>
                <th scope="col">Телефон</th>
                </tr>
            </thead>
            <% residents.forEach(resident => { %>
            <tbody>
                <tr>
                    <td><%= resident.pib %></td>
                    <td><%= resident.birthday %></td>
                    <td><%= resident.idc %></td>
                    <td><%= resident.birthPlace %></td>
                    <td><a href="<%- resident.imgPath %>"><img width="50" src="<%- resident.imgPath %>" alt=""></a></td>
                    <td><%= resident.phoneNumber %></td>
                    <td><a  class="btn btn-primary float-right" href="/residents/<%= resident.id %>">Show</a></td>
                    <td><a  class="btn btn-danger float-right" href="/residents/<%= resident.id %>/del">Delete</a></td>
                </tr>
                <% }) %> 
            </tbody>
        </table>
    </div>
</form>
<br>


