<form action="/residents" method="GET">
    <div class="tablecup">
        <h2>Мешканці</h2>
        <a class="btn btn-dark" href="/residents/new">Добавити нового мешканця</a>
    </div>
    <br>
    <div>
        <table class="table tablec">
            <thead>
                <tr>
                <th scope="col">ПІБ</th>
                <th scope="col">Дата народження</th>
                <th scope="col">Ідентифікаційний код</th>
                <th scope="col">Місце народження</th>
                <th scope="col">Паспорт</th>
                <th scope="col">Телефон</th>
                </tr>
            </thead>
            <% residents.forEach(resident => { %>
            <tbody>
                <tr>
                    <td><%= resident.pib %></td>
                    <td><%= resident.birthday %></td>
                    <td><%= resident.idc %></td>
                    <td><%= resident.birthPlace %></td>
                    <td><a class='text-dark' href="<%- resident.imgPath %>"><span class="iconify" data-icon="mdi:passport" data-height="48" data-inline="false"></span></a></td>
                    <td><%= resident.phoneNumber %></td>
                    <td><a  class="text-dark float-right" href="/residents/<%= resident.id %>/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                    <td><a  class="text-dark float-right" href="/residents/<%= resident.id %>/del"><i class="fa fa-minus-square-o" aria-hidden="true"></i></a></td>
                </tr>
                <% }) %> 
            </tbody>
        </table>
    </div>
</form>
<br>


