<form action="/contacts" method="GET">
    <div class="tablecup">
        <h2>Контакти</h2>
        <a class="btn btn-dark" href="/contacts/new">Добавити контакт</a>
    </div>
    <br>
    <div>
        <table class="table tablec table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">Контакт</th>
                    <th scope="col">Телефон</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
            <% contacts.forEach(contact => { %>
                <td><%= contact.titul %></td>
                <td><%= contact.name %></td>
                <td><%= contact.phoneNumber %> </td>
                <td><a class="text-dark float-right" href="/contacts/<%= contact.id %>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                <td><a class="text-dark float-right" href="/contacts/<%= contact.id %>/del"><i class="fa fa-minus-square-o" aria-hidden="true"></i></a></td>
            </tr>
    <% }) %>
    </tbody>
    </table>
    </div>

</form>
<br>