<form action="/news" method="GET">
        <div class="tablecup">
            <h2>Управління новинами</h2>
        <a class="btn btn-dark" href="/news/new">Додати новину</a>
        </div>
    <br>
    <div>
        <table class="table tablec table-striped">
            <thead>
                <tr>
                <th scope="col">Назва</th>
                <th scope="col">Текст</th>
                <th scope="col">Зображення</th>
                <th scope="col">Дата</th>
                <th></th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                <% myNews.forEach(News => { %>
                    <tr>
                        <td ><%= News.title %> </td>
                        <td ><p><%- News.subscription %></p></th>
                        <td class="d-flex justify-content-center">
                            <% News.imgPath.forEach(img =>{%>
                                <img class="rounded" style="width: 50px;" src="<%-img%>" alt="">
                            <%}) %> 
                        </td>
                        <td><%= News.date.toISOString().split('T')[0] %> </td>
                        <td><a class="text-success float-right" href="/news/<%= News.id %> "><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                        <td><a  class="text-danger  float-right" href="/news/<%= News.id %>/del"><i class="fa fa-minus-square-o" aria-hidden="true"></i></a></td>
                    </tr>
                <% }) %> 
            </tbody>
        </table>
    </div>
    
</form>
<br>


