<form action="/news" method="GET">
    <h2>Управління новинами</h2>
    <a class="btn btn-dark" href="/news/new">Створити новину</a>
    <div>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Назва</th>
                <th scope="col">Текст</th>
                <th scope="col">Зображення</th>
                <th scope="col">Дата</th>
                <th></th>
                <th></th>
                </tr>
            </thead>
        <% myNews.forEach(News => { %>
            <tbody>
                <td ><%= News.title %> </td>
                <td ><p><%- News.subscription %></p></th>
                <td class="d-flex justify-content-center">
                    <% News.imgPath.forEach(img =>{%>
                        <img class="rounded" style="width: 50px;" src="<%-img%>" alt="">
                    <%}) %> 
                </td>
                <td><%= News.date %> </td>
                <td><a class="btn btn-secondary" href="/news/<%= News.id %> ">Edit</a></td>
                <td><a  class="btn btn-danger float-right" href="/news/<%= News.id %>/del">Delete</a></td>
                </div>
        <% }) %> 
            </tbody>
        </table>
    </div>
    
</form>
<br>


