<div class="form-group" style="display: none;">
    <label for="id">ID</label>
    <input class="form-control" type="text" name="id" required value="<%= poll.id %>">
</div>
<div class="form-group">
    <label for="name">Назва</label>
    <input class="form-control" type="text" name="name" required value="<%= poll.name %>">
</div>
<div class="form-group">
    <label for="subject">Тематика</label>
    <textarea name="subject" type="textarea" id="tinymce" value="<%= poll.subject %>"><%= poll.subject %> </textarea>
</div>
<div class="form-group">
    <label for="votingOptions">Варіанти голосування</label>
    <input class="form-control" type="text" name="votingOptions"  value="<%= poll.votingOptions %>">
</div>