<form action="/poll" method="GET">
    <div class="tablecup">
        <h2>Управління опитуванням</h2>
        <a class="btn btn-dark" href="/poll/new">Додати оголошення</a>
    </div>
    <br>
    <div>
        <table class="table tablec table-striped">
            <thead>
                <tr>
                    <th scope="col">Назва</th>
                    <th scope="col">Тематика</th>
                    <th scope="col">Дата</th>
                    <th scope="col">Варіанти голосування</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <% poll.forEach(pol => { %>
                <tr>
                <td><%= pol.name %></td>
                <td>
                    <p><%- pol.subject %></p>
                </td>
                <td><%= pol.date.toISOString().split('T')[0] %></td>
                <td><% pol.votingOptions.forEach(voteVar => {%>
                    <%= voteVar %> <br>
                    <%}) %></td>
                <td><a class="float-right text-success" href="/poll/<%= pol.id %> "><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                <td><a class="float-right text-danger" href="/poll/<%= pol.id %>/del"><i class="fa fa-minus-square-o" aria-hidden="true"></i></a></td>
            </tr>
    <% }) %>
    </tbody>
    </table>
    </div>

</form>
<br>