
    <div class="form-group">
        <label for="osbbname">Назва ОСББ</label>
        <input class="form-control" type="text" name="osbbname" required value="<%= osbb.osbbname %>">
    </div>
    <div class="form-group">
        <label for="adress">Адреса</label>
        <input class="form-control" type="text" name="adress" required value="<%= osbb.adress %>">
    </div>
    <div class="form-group">
        <label for="edrpoy">ЄДРПОУ</label>
        <input class="form-control" type="text" name="edrpoy" required value="<%= osbb.edrpoy %>">
    </div>
    <div class="form-group">
        <label for="bank">Банк</label>
        <input class="form-control" type="text" name="bank" required value="<%= osbb.bank %>">
    </div>
    <div class="form-group">
        <label for="mfo">Код банку (мфо)</label>
        <input class="form-control" type="text" name="mfo" required value="<%= osbb.mfo %>">
    </div>
    <div class="form-group">
        <label for="accountnumber">Номер рахунку</label>
        <input class="form-control" type="text" name="accountnumber" required value="<%= osbb.accountnumber %>">
    </div>
    <div class="form-group">
        <label for="iban">IBAN</label>
        <input class="form-control" type="text" name="iban" required value="<%= osbb.iban %>">
    </div>
    <div class="form-group">
        <label for="apartments">К-сть квартир</label>
        <input class="form-control" type="number" name="apartments" required value="<%= osbb.apartments %>">
    </div>