<form action="/osbb" method="GET">
    <div class="tablecup">
        <h2>ОСББ</h2> 
    </div>
    <br>
    <div>
            <table class="table tablec table-striped">
                <thead>
                    <tr>
                    <th scope="col">Назва</th>
                    <th scope="col">Адреса</th>
                    <th scope="col">ЄДРПОУ</th>
                    <th scope="col">Банк</th>
                    <th scope="col">Код банку (мфо)</th>
                    <th scope="col">Номер рахунку</th>
                    <th scope="col">IBAN</th>
                    <th scope="col">К-сть квартир</th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                <% osbb.forEach(osb => { %>
                    <tr>
                        <td ><%= osb.osbbname %></td>
                        <td><%= osb.adress %></td>
                        <td><%= osb.edrpoy %></td>
                        <td><%= osb.bank %></td>
                        <td><%= osb.mfo %></td>
                        <td><%= osb.accountnumber %></td>
                        <td><%= osb.iban %></td>
                        <td><%= osb.apartments %></td>
                        <td><a  class="text-dark float-right" href="/osbb/<%= osb.id %>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
</a></td>
                    </tr>
                    <% }) %> 
                </tbody>
            </table>
        
    </div>
</form>
<br>


