<div class="d-flex">
    <div>
        <h5><%= osbb.osbbname %></h5>
    </div>
    <div>
        <p><%= osbb.adress %> </p>
    </div>
    <div>
        <p><%= osbb.edrpoy %> </p>
    </div>
    <div>
        <p><%= osbb.bank %> </p>
    </div>
    <div>
        <p><%= osbb.mfo %> </p>
    </div>
    <div>
        <p><%= osbb.accountnumber %> </p>
    </div>
    <div>
        <p><%= osbb.iban %> </p>
    </div>
    <div>
        <p><%= osbb.apartments %> </p>
    </div>
</div>